version: "3.9"


services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        PYTHON_VERSION: "3.11-slim"
      target: prod
    container_name: bloom_art_backend_prod
    ports:
      - 8000:8000
    networks:
      - bloom_art_network_prod
    depends_on:
      - db
      - redis
    environment:
      - UV_LINK_MODE=copy
    env_file:
      - .env

  db:
    image: postgres:15.1-alpine
    volumes:
      - bloom_art_database_data_prod:/var/lib/postgresql/data
    networks:
      - bloom_art_network_prod
    env_file:
      - .env

  redis:
    image: redis:7
    container_name: bloom_art_redis_prod
    volumes:
      - bloom_art_redis_data_prod:/data
    networks:
      - bloom_art_network_prod

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NODE_VERSION: "20-alpine"
      target: prod
    container_name: bloom_art_frontend_prod
    ports:
      - 3000:3000
    environment:
      NODE_ENV: production
    depends_on:
      - backend
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    container_name: bloom_art_nginx_prod
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/sites:/etc/nginx/sites:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend
    networks:
      - bloom_art_network_prod


volumes:
  bloom_art_database_data_prod:
  bloom_art_redis_data_prod:

networks:
  bloom_art_network_prod:
