@import "tailwindcss";

@font-face {
  font-family: 'SherlyKitchenRegular';
  src: url('/fonts/SherlyKitchenRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./themes/theme.css";

@import "./layers/utilitiesLayer.css";
@import "./layers/baseLayer.css";
@import "./layers/componentLayer.css";
