@layer components {
    .cart {
        @apply shadow transition hover:shadow hover:shadow-accent dark:hover:shadow-accent-dark rounded-lg bg-card dark:bg-card-dark;
    }

    .cartItems {
        @apply ;
    }

    .cartTitle {
        @apply flex flex-col text-center mb-8 p-4;
    }

    .cartItemsAbsence {
        @apply flex flex-col justify-center;
    }

    .cartItemCard {
        @apply grid grid-cols-1 gap-y-1.5 shadow transition hover:shadow hover:shadow-accent dark:hover:shadow-accent-dark rounded-lg p-10 bg-background dark:bg-background-dark cursor-pointer max-w-45 md:max-w-48 lg:max-w-70;
    }

    .quantityItem {
        @apply flex flex-row justify-center;
    }

    .quantityButton {
        @apply w-20;
    }
}
