@layer components {
    .cart {
        @apply shadow transition hover:shadow hover:shadow-accent dark:hover:shadow-accent-dark rounded-lg bg-card dark:bg-card-dark;
    }

    .cartItems {
        @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 p-2 md:p-4 lg:p-8 justify-items-center gap-y-10;
    }

    .cartTitle {
        @apply flex flex-col text-center mb-8 p-4;
    }

    .cartItemsAbsence {
        @apply flex flex-col gap-4 text-center p-8 justify-center;
    }

    .cartItemsAbsenceButton {
        @apply h-15;
    }

    .cartItemCard {
        @apply grid grid-cols-1 gap-y-1.5 shadow transition hover:shadow hover:shadow-accent dark:hover:shadow-accent-dark rounded-lg p-10 bg-background dark:bg-background-dark cursor-pointer max-w-45 md:max-w-48 lg:max-w-70
        justify-items-center
        transition hover:scale-110;
    }

    .quantityItem {
        @apply flex flex-row justify-center space-x-2;
    }
    
    .quantityButton {
        @apply w-8 md:w-10 lg:w-10 transition hover:scale-110;
    }
}
