@layer components {

    .navbar {
        @apply bg-card dark:bg-card-dark sticky top-0 left-0 right-0 z-50
        flex flex-row justify-between items-center shadow
        h-10 md:h-16 lg:h-24
        rounded-lg
        transition hover:shadow hover:shadow-accent dark:hover:shadow-accent-dark active:shadow active:shadow-accent dark:active:shadow-accent-dark
        mb-32 md:mb-32 lg:mb-32;
    }

    .themeTogglerIcon, .hamburgerIcon {
        @apply w-8 md:w-12 lg:w-14 h-8 md:h-12 lg:h-14
        transition hover:bg-accent/20 cursor-pointer active:bg-accent/20
        rounded-xl text-muted-foreground dark:text-muted-foreground-dark
        hover:scale-110 active:scale-110;
    }

    /* .themeTogglerIcon {
        @apply mr-10 md:mr-12 lg:mr-20;
    } */



    .hamburgerMenu, .languageMenu {
        @apply fixed shadow rounded-lg z-50 bg-popover dark:bg-popover-dark p-2 border border-border dark:border-border-dark
        grid grid-cols-1 gap-3 items-center;
    }

    .hamburgerMenu {
        @apply w-24 md:w-28 lg:w-36 h-64 md:h-80 lg:h-96;
    }

    .languageMenu {
        @apply w-24 md:w-28 lg:w-36 h-35 md:h-40 lg:h-60;
    }

    .hamburgerMenuItem, .languageMenuItem {
        @apply border border-border dark:border-border-dark rounded-lg
        text-center
        transition hover:bg-accent dark:hover:bg-accent-dark hover:text-accent-foreground 
        dark:hover:text-accent-foreground-dark active:bg-accent dark:active:bg-accent-dark 
        active:text-accent-foreground dark:active:text-accent-foreground-dark;
    }
    
    .hamburgerMenuItem {    
        @apply h-full w-full;
    }

    .languageMenuItem {
        @apply w-full h-12 md:h-15 lg:h-20
        flex items-center justify-center;
    }
}
