@layer components {

    .navbar {
        @apply bg-card dark:bg-card-dark sticky top-0 left-0 right-0 z-50
        flex flex-row justify-between items-center shadow
        h-10 md:h-16 lg:h-24
        rounded-lg
        transition hover:shadow hover:shadow-accent dark:hover:shadow-accent-dark
        mb-32 md:mb-32 lg:mb-32;
    }

    .themeTogglerIcon, .hamburgerIcon {
        @apply w-8 md:w-12 lg:w-14 h-8 md:h-12 lg:h-14
        transition hover:bg-accent/20 cursor-pointer
        rounded-xl text-muted-foreground dark:text-muted-foreground-dark;
    }

    .themeTogglerIcon {
        @apply mr-10 md:mr-12 lg:mr-20;
    }
}
