@layer components {

    .order {
        @apply grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2;
    }

    .orderForm {
        @apply flex flex-col;
    }

    .orderContact {
        @apply ;
    }

    .orderShipping {
        @apply ;
    }
    
    .orderClearAllIcon {
        @apply w-10 md:w-15 lg:w-20
    }

    .orderField {
        @apply flex flex-row;
    }
}
