@layer components {

    .order {
        @apply grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2;
    }

    .orderForm {
        @apply flex flex-col gap-10 lg:order-1;
    }

    .orderContact, .orderShipping {
        @apply grid grid-cols-1
        shadow transition hover:shadow hover:shadow-accent dark:hover:shadow-accent-dark active:shadow active:shadow-accent dark:active:shadow-accent-dark rounded-lg bg-card dark:bg-card-dark
        p-2 md:p-4 lg:p-8 justify-items-center gap-y-8
        divide-y divide-accent-foreground;
    }

    /* .orderShipping {
        @apply grid grid-cols-1;
    } */
    
    .orderClearAllIcon {
        @apply w-12 md:w-13 lg:w-15 transition hover:scale-110 active:scale-110 cursor-pointer;
    }

    .orderField {
        @apply flex items-center justify-between w-full gap-4 text-center;
    }

    .orderItem {
        @apply grid grid-cols-1 lg:order-2;
    }

    .orderInput {
        @apply w-80 md:w-90 lg:w-100;
    }
}
