apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.monitoring.promtail.config.name }}
  namespace: {{ .Values.sharedNamespace }}
data:
  {{ .Values.monitoring.promtail.config.fileName }}: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://{{ .Values.monitoring.loki.service.name }}.{{ .Values.sharedNamespace }}.svc.cluster.local:{{ .Values.monitoring.loki.service.port }}/loki/api/v1/push

    scrape_configs:
      # Backend logs
      - job_name: backend
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            regex: backend-pod
            action: keep
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_container_name]
            target_label: container
          - replacement: backend
            target_label: job

      # Postgres logs
      - job_name: postgres
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            regex: postgres
            action: keep
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_container_name]
            target_label: container
          - replacement: postgres
            target_label: job

      # Redis logs
      - job_name: redis
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            regex: redis
            action: keep
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_container_name]
            target_label: container
          - replacement: redis
            target_label: job

      # Kubernetes system logs (all other pods)
      - job_name: kubernetes-system
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_namespace]
            regex: kube-system
            action: keep
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_container_name]
            target_label: container
          - replacement: kubernetes
            target_label: job


# For grafana then
# {job="backend"} | json | line_format "{{.log}}"
# {job="postgres"} | json | line_format "{{.log}}"
# {job="redis"} | json | line_format "{{.log}}"
# {job="kubernetes"} | line_format "{{.log}}"
# {job="backend", container="backend"} | line_format "{{.log}}"
