apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: loki
  namespace: monitoring
spec:
  serviceName: loki
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      containers:
      - name: loki
        image: grafana/loki:2.10.0
        args:
          - -config.file=/etc/loki/loki-config.yaml
        ports:
          - containerPort: 3100
        volumeMounts:
          - name: loki-config
            mountPath: /etc/loki/loki-config.yaml
            subPath: loki-config.yaml
          - name: loki-storage
            mountPath: /loki
  volumeClaimTemplates:
  - metadata:
      name: loki-storage
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 10Gi
  volumes:
    - name: loki-config
      configMap:
        name: loki-config
